/* This is my style CSS file */

body {
    background-color: rgb(0, 21, 255);
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 20%;
    margin-right: 20%;

    padding-top: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 1ch;
    font-family: 'Montserrat', sans-serif; 
    color: hsl(0,0%,70%);
}