/* This is my style CSS file */
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

.class {
    position: static;
}

#headsection {
    text-align: left;
    font-size: 150%;
}
details {
    display: inline;
    text-align: left;
    font-size: 150%;
}
#Agenda {
    text-align: left;
    font-size: 150%;
    display: inline;
}
#Survey {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
}
#Video {
    position: static;
}
#Audio {
    position: static;
}
body {
    background-color: rgba(0, 21, 255, 0.735);
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 15%;
    margin-right: 15%;

    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
    font-family: 'Festive', cursive;
    color: rgb(25, 196, 93);
    border-style: outset;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    margin: 0.25cm 0.25cm 0.25cm 0.25cm;
    padding: 3mm 3mm 3mm 3mm;
    text-align: center;
    font-size: 150%;

    display: grid;
    justify-self: center;
    column-gap: 10px;
    row-gap: 10px

}
button:hover {
    color: red
}

@media (max-width: 800px)
    {
    }
*{ 
    max-width: 1000px; 
}

li li {
    list-style-type: circle;
}

a[footer] {
    color: black;
}

h2 {
    color: black;
}

h1,h2 {font-family: helvetica;}

ul.Audio > li {
    margin: 2em;
}

video ~ p {
    color:rgba(0, 21, 255, 0.735)
}

video + audio {
    font-weight: bold;
}